.header {
    background: #010101;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10 0;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
    };
}